<div class="home-container">
    <h1>Benvenuto nella mia WebApp</h1>
    <br>
    <h2>Vuoi usufruire dei servizi offerti?</h2>
    <br>
    <p><a routerLink="/register">Registrati</a> subito oppure effettua il login.</p><!-- 
    <p>Effettua il login o registrati per accedere.</p> -->
</div>

<footer id="link">
    <div class="logo">
        <ul>
            <li><a href="https://github.com/Alexios91" target="_blank"><i class="fa-brands fa-github fa-2xl"></i></a>
            </li>
            <li><a href="https://www.linkedin.com/in/alessandro-sorrentino-784189118/" target="_blank"><i
                        class="fa-brands fa-linkedin fa-2xl"></i></a>
            </li>
            <li><a href="https://it-it.facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-2xl"></i></a>
            </li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"></i></a>
            </li>
        </ul>
    </div>

    <div class="links">
        <ul>
            <li><a routerLink="/contatta">Contattaci</a></li>
            <li><a href="#">Preferenza per i cookie</a></li>
            <li><a href="#">Opportunità di lavoro</a></li>
            <li><a href="#">Condizioni di utilizzo</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Informazioni sull'Azienda</a></li>
        </ul>
    </div>

    <p class="mt-5 mb-3">&copy; Alexios91 - 2023</p>
</footer>